<a href="https://colab.research.google.com/github/aman-m4/Machine-Learning-2024/blob/main/Python%20Practice/Python_tuturial_lvl1_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What are variables?

In [3]:
print("Hello World")

Hello World

In [4]:
print("more string")

more string

In [5]:
print("more string")
print(3)

more string
3

In [6]:
a = 1 # a contains the value 1
# a refers to the value 1
print(a)

1

In [7]:
b = 2

In [8]:
b

2

In [9]:
c = " Hello There " # here c refers to the string Hello There

In [10]:
b =  # here b is
#b is reassigned to 1

1

In [12]:
e = "this is a string"
print(e)

this is a string

In [13]:
print(a)
print(c)

1
 Hello There

In [14]:
f = a

In [15]:
f

1

In [16]:
a=2

In [17]:
a

2

In [18]:
f # here we can see that f referred to the value a was inititally pointing, now that it has been given a new value, f keeps referrring to the previous value

1

In [19]:
v1 = "first string"
v2 = "second string"

In [20]:
# for swapping the variables
temp = v1
v1 = v2
v2 = temp

print('v1:',v1)
print('v2:',v2)

v1: second string
v2: first string

# If/Else Statements

In [21]:
print("hello 1")
print("hello 2")

hello 1
hello 2

In [32]:
a = 4
b = 3
if a < b:
  print('a is less than b')
else:
    if a==b:
      print("a is equal to b")
    else:
      print("b is less than a")

b is less than a

In [33]:
name = "Aman Mishra"
weight_kg = 84
height_m = 1.93

bmi = weight_kg / (height_m**2)
print("BMI is : ",bmi)

if bmi <25:
  print(name)
  print("is not overweight")
else:
  print(name)
  print("is overweight")

BMI is :  22.550940964858118
Aman Mishra
is not overweight

# Functions

In [34]:
# a collection of instructions

def f1():
  print("ahh")
  print("ahh2")
print("outside the function")

outside the function

In [36]:
f1() #calling the function to use it
f1()

ahh
ahh2
ahh
ahh2

In [37]:
# a function can be used to map too
def f2(x): # here x is the argument
  return 2*x #the return value which is doubled

In [40]:
a = f2(4) #result is stored in variable a
print(a)

8

In [41]:
def f3(x,y):
  return x+y

e = f3(1,2)
print(e)

3

In [42]:
def f4(x):
  print(x)
  print("still in the function")
  return 3*x

f = f4(4)
print(f)

4
still in the function
12

In [46]:
#BMI Calculator

name = "Aman Mishra"
height_m = 1.93
weight_kg = 84

name_2 = "Aastha Pareek"
height_m_2 = 1.67
weight_kg_2 = 60

In [59]:
#function tp calculate the bmi
def bmi(name,height_kg,weight_kg):
  print(f"Hi {name} to BMI calculator\n")

  bmi = weight_kg / (height_m**2)

  print(f"The final report for {name}:\n")
  print(f"Height is : {height_kg}")
  print(f"Weight is : {weight_kg}")
  print("BMI is : ",bmi)

  if bmi < 25:
    return name + ' ' + "is not overweight"
  else:
    return name + ' ' + "is overweight"

In [60]:
r1 = bmi(name,height_m,weight_kg)
r2 = bmi(name_2,height_m_2,weight_kg_2)

Hi Aman Mishra to BMI calculator

The final report for Aman Mishra:

Height is : 1.93
Weight is : 84
BMI is :  22.550940964858118
Hi Aastha Pareek to BMI calculator

The final report for Aastha Pareek:

Height is : 1.67
Weight is : 60
BMI is :  16.107814974898655

In [61]:
print(r1)

Aman Mishra is not overweight

In [62]:
print(r2)

Aastha Pareek is not overweight

In [64]:
#Homework :  Create a function convert kilometers to miles

def convert(km):

  print(f"{km} kilometers converted in miles is:\n")
  miles = km * 0.62
  return miles

m = convert(10)
print(m)

10 kilometers converted in miles is:

6.2

# Lists

In [65]:
a = [3,10,-1]

In [66]:
print(a)

[3, 10, -1]

In [69]:
type(a)

list

In [70]:
a.append(2) #built in function

In [71]:
a

[3, 10, -1, 2]

In [72]:
a.append("Hello")

In [73]:
a

[3, 10, -1, 2, 'Hello']

In [74]:
a.append([1,2,3])

In [75]:
a

[3, 10, -1, 2, 'Hello', [1, 2, 3]]

In [76]:
a.pop()

[1, 2, 3]

In [77]:
a

[3, 10, -1, 2, 'Hello']

In [78]:
a.pop()

'Hello'

In [79]:
a

[3, 10, -1, 2]

In [80]:
a[2]

-1

In [81]:
a[0] = 100

In [82]:
a

[100, 10, -1, 2]

In [83]:
b = ["banana","apple","microsoft"]

#swapping the first value with the last value in the list
temp = b[0]
b[0] = b[-1]
b[-1] = temp

print(b)

['microsoft', 'apple', 'banana']

In [84]:
# OR the items can be sqapped like this

b = ["banana","apple","microsoft"]

b[0],b[-1] = b[-1],b[0]

print(b)

['microsoft', 'apple', 'banana']

# Loops

In [85]:
b = ["banana","apple","microsoft"]

for i in b:
  print(i)

banana
apple
microsoft

In [5]:
b = [20,10,5]

total = 0 #initialize a new variable

for e in b:
  total += e

print("The total is :" ,total)

The total is : 35

In [6]:
range(1,5) # if i want a list starting at 1 till 4

a = list(range(1,5))
print(a)

[1, 2, 3, 4]

In [12]:
total = 0
for i in a:
  total+=i
print(total)

10

In [13]:
print(4 % 3 ) # the % here gives the remainder

1

In [14]:
print(5%3)

2

In [15]:
print(1%3)

1

In [16]:
print(6%3)

0

In [17]:
total3 = 0
for i in range(1,10):
  if i%3 ==0:
    print(f"{i} is a multiple of 3")
  else:
    pass

3 is a multiple of 3
6 is a multiple of 3
9 is a multiple of 3

In [30]:
mul3 = []
mul5 = []
for i in range(1,101):
  if i%3 ==0:
    mul3.append(i)
  elif i%5==0:
    mul5.append(i)
  else:
    pass

print(f"{mul3} is a multiple of 3")
print(f"{mul5} is a multiple of 5")

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99] is a multiple of 3
[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100] is a multiple of 5
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]

# While Loops

It can be useful when we dont know how many lists we might use

In [21]:
total4 = 0
j=1

while j < 5:
  total4 += j
  j = j+1

print(total4)

10

In [23]:
given_list = [5,4,4,3,1]

total3 = 0
i=0

while i < len(given_list) and given_list[i] >0:
  total3 +=i
  i+=1

print(total3)

10

In [25]:
given_list_2 = [5,4,4,3,1,-2,-4,-6]

total4 = 0
i=0

while i < len(given_list):
  if given_list[i] <= 0:
    break
  total4 +=i
  i+=1

print(total4)

10

# More on FOR loops

In [29]:
b = ["banana","apple","microsoft"]

for i in range(len(b)):
  print(b[i])

banana
apple
microsoft

In [32]:
for i in range(len(b)):
  for j in range(i+1):
    print(b[i])

banana
apple
apple
microsoft
microsoft
microsoft

In [36]:
total = 0
for i in range(1,100):
  if i % 3 == 0 or i % 5 ==0:
    total+= i
print(total)

2318

# Dictionary

In [40]:
d = {
    "Aman":27,
    "Aastha": 26,
    "Noob" : 22
}

for i in d.keys():
  print(i)

Aman
Aastha
Noob

In [46]:
print(d["Noob"])

22

In [47]:
d["Noob"] = 21

In [48]:
print(d)

{'Aman': 27, 'Aastha': 26, 'Noob': 21}

In [49]:
d["Goku"] = 100

In [50]:
print(d)

{'Aman': 27, 'Aastha': 26, 'Noob': 21, 'Goku': 100}

In [53]:
for key,value in d.items():
  print(f"key is {key}")
  print(f"value is {value}\n\n")

key is Aman
value is 27


key is Aastha
value is 26


key is Noob
value is 21


key is Goku
value is 100

# Class

In [71]:
class Robot:
  def __init__(self,name,height,weight,color): #this is a constructor
    self.name = name # This is an attribute,here the self.name refers that whatever argument will be passed first, it will refer to the name variable
    self.height = height
    self.weight = weight
    self.color = color

  def introduce_self(self): #this is called a method
    print(f"My name is {self.name}")
    print(f"My height is {self.height} cm")
    print(f"My weight is {self.weight} kg")
    print(f"My color is {self.color}")

r1 = Robot("Siu",193,84,"brown") # here r1 is an object of the robot class
r1.introduce_self()
r2 = Robot("Ronaldo",194,84,"white") # here r1 is an object of the robot class
r2.introduce_self()

My name is Siu
My height is 193 cm
My weight is 84 kg
My color is brown
My name is Ronaldo
My height is 194 cm
My weight is 84 kg
My color is white

In [72]:
class Person:
    def __init__(self,name,personality,isSitting): #this is a constructor
      self.name = name # This is an attribute,here the self.name refers that whatever argument will be passed first, it will refer to the name variable
      self.personality = personality
      self.isSitting = isSitting

    def sit_down(self):
      self.isSitting = True

    def stand_up(self):
      self.isSitting = False

In [73]:
p1 = Person("Aman","aggressive",False)
p2 = Person("Aastha","not super",True)

#p1 owns r2
p1.robotOwned = r2
#p2 owns r1
p2.robotOwned = r1

In [74]:
p1.robotOwned.introduce_self()
p2.robotOwned.introduce_self()

My name is Ronaldo
My height is 194 cm
My weight is 84 kg
My color is white
My name is Siu
My height is 193 cm
My weight is 84 kg
My color is brown

# Boolean

In [75]:
type("Microsoft")

str

In [76]:
type(True)

bool

In [81]:
def great(c,d,e):
  return c > d+e

print(great(5,1,2))
print(great(2,1,2))

True
False

# List Comprehension

In [82]:
a = [1,2,3,4]
d = [x*2 for x in a]
print(d)

[2, 4, 6, 8]

In [83]:
b = [x**2 for x in range(1,7)]
print(b)

[1, 4, 9, 16, 25, 36]

In [85]:
d = [x**2 for x in range(6,0,-1)]
print(d)

[36, 25, 16, 9, 4, 1]

# Sets

In [87]:
a = set()
print(a)

set()

In [88]:
a.add(1)

In [89]:
a.add(2)

In [90]:
a.add(2)

In [91]:
print(a) # rejects any duplicates

{1, 2}

In [92]:
for x in a:
  print(x)

1
2

In [93]:
b = set()
b.add("apple")
b.add("banana")
b.add(1)

print(b)

{'apple', 'banana', 1}

In [96]:
gl = [1,3,4,1,3]

ss = set(gl)

print(sum(ss))

8